<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Contact html page from the server</title>
  </head>
  <body>
    <%- include ('partials/nav') %>
    <h1>Contact US</h1>
    <p>For all Geospatial Solutions</p>
  </body>
</html>
